.restaurant-list {
  width: 100%;
  padding: 20px;
}

.search-container {
  margin-bottom: 20px;
}

.search-input {
  width: 40%;
  padding: 15px;
  font-size: 16px;
  margin-top: 15px;
  margin-left: 100px;
  border: 3px solid #134B8A;
  border-radius: 25px; 
  color: black; 
}

.category-filter {
  width: 40%;
  padding: 15px;
  font-size: 16px;
  margin-left: 50px;
  margin-top: 15px;
  border: 3px solid #134B8A; 
  border-radius: 25px; 
  color: black; 
}

.restaurants-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.restaurant-card {
  width: calc(30% - 20px); 
  margin-right: 20px; 
  margin-bottom: 20px; 
  background-color: #ffffff; 
  border-radius: 15px; 
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
}

.restaurant-card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

.restaurant-image {
  width: 20%;
  height: 20%;
  margin-right: 300px;
  margin-top: 5px;
}

.restaurant-details {
  padding: 10px;
  margin-top: -100px;
}

.restaurant-name {
  margin-top: 0;
  color: black; 
}

.operation-list {
  list-style-type: none;
  padding: 0;
}

.operation-time {
  margin-bottom: 5px;
  color: black; 
}

.restaurant-rating {
  font-weight: bold;
}

.operation-times {
  margin-top: 10px;
  color: black; 

}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery-image {
  width: calc(33.33% - 10px);
  height: auto;
  border-radius: 8px;
}
